{@qqte.InfoCardDto dto}
<turbo-frame id='{dto.contentId}-frame' data-turbo="true">
    <div class="card card-stats" id="{dto.contentId}">
        <div class="card-body ">
            <div class="row">
                <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                        <i class="nc-icon {dto.icon} text-warning"></i>
                    </div>
                </div>
                <div class="col-7 col-md-8">
                    <div class="numbers">
                        <p class="card-category">{dto.name}</p>
                        <p class="card-title">{dto.value}<p>
                    </div>
                </div>
            </div>
        </div>
        {#if dto.refreshUrl}
        <div class="card-footer">
            <hr>
            <div class="stats">
                <i class="fa fa-refresh"></i>
                <a href="{dto.refreshUrl}">Update Now</a>
            </div>
        </div>
        {/if}
    </div>
</turbo-frame>
