{#include layout}
  {#body}
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="title">About</h5>
                  </div>
                  <div class="card-body">
                      <div class="typography-line">
                          <p>
                              This project demonstrates the usage of quarkus with the qute templating engine and hotwire turbo.
                              It consists of examples demonstrating how templates can be split, partially loaded and also streamed via SSE.
                              The following parts are used in this example:
                          </p>
                      </div>
                      <ul>
                          <li><a href="https://quarkus.io">Quarkus</a></li>
                          <li><a href="https://quarkus.io/guides/qute">Quarkus - Qute</a></li>
                          <li><a href="https://turbo.hotwired.dev">Hotwire - Turbo</a></li>
                          <li><a href="https://www.creative-tim.com/product/paper-dashboard-2">Creative Tim - Paper Dashboard 2</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  {/body}
{/include}
